
input.bg-danger::placeholder {
  color: #ffffff;
}

.with-pulse-effect {
  animation: enter-animation 2s ease;
}

@keyframes enter-animation {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(35, 130, 220,1);
    color: black;
  }
  100% {
    box-shadow: 0px 0px 5px 25px rgba(35, 130, 220,0);
    color: blue;
  }
}
