	/* Coded with love by Mutiullah Samim */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.bg {
}
  h1, .h1 {
    z-index: 1;
    font-size: 2rem;
    font-weight: 100;
    color: #2d2d2d !important;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  h2, .h2 {
    font-size: 3rem;
    color: #2d2d2d;
    margin-bottom: 1.5rem;
  }
  .user_card.user_card_loginbox_bg {
    background-color: #eeeeee;
    box-sizing: border-box;
    width: 100%;
    max-width: 520px;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;

    margin-bottom: 1.5rem;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // border-radius: 5px;

}

.form_container {
  width: 100%;
}
.form_container form {
  width: 100%;
}
.login_btn {
  width: 75%;
  max-width: 230px;
  min-width: 160px;
  background: #2d2d2d !important;
  color: #ffffff !important;
  font-size: 1.2rem;
  border-radius: 0 !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
  margin-top: 2rem;
    padding: 0;
}
.input-group-text {
  background: #c6c6c6 !important;
  color: white !important;
  border: 0 !important;
  font-size: 1.2rem;
  // border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

.form_containter .form-control,
.form-control {
  background-color: #ffffff !important;
  font-size: 1.2rem;
  color: #2d2d2d;
}
/* Change Autocomplete styles in Chrome*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none;
    color: #2d2d2d !important;
    -webkit-text-fill-color: #2d2d2d;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    font-family: 'Lato' !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 1.3rem !important;
  }

  input:-webkit-autofill::first-line {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    color: #2d2d2d !important;
  }

.form-control.ng-invalid {
  border-right: 0.4rem solid rgb(247, 169, 169);
}


.form-control.ng-valid {
  border-right: 0.4rem solid rgb(173, 250, 173);
}

.brand-circle-container{
  width:100%;
  text-align: center;
  margin-top:10px;
  margin-bottom:5px;
}

.brand-circle-grey {
  margin-left: auto;
  margin-right: auto;
  width: 18vh;
  height: 18vh;
  min-width: 100px;
  min-height: 100px;
  max-width: 180px;
  max-height: 180px;
  border-radius: 50%;
  background-color: #eee;
  margin-bottom: 1.6vh;
  margin-top: 2vh
}


