<div class="modal-header p-0" style="padding:0.1rem">
  <div class="btn-group row no-gutters w-100">
    <button type="button" class="btn btn-danger col-2" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Inventar bearbeiten</h4>
</div>
<div class="modal-body">
  <form #inventarForm="ngForm">

    <div class="form-group">
      <label for="editInventarBarcode" class="d-none">Barcode: </label>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">BCode</span>
        </div>
        <input readonly id="editInventarBarcode" #editInventarBarcode (change)="formValidate()" class="form-control formcontrol-edit-barcode" (paste)="$event.preventDefault()" placeholder="Barcode"
               name="code"
               [(ngModel)]="inventarInput.code"
               #code="ngModel"
        >
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" (click)="openScanner(editInventarBarcode)"><fa-icon [icon]="faCamera"></fa-icon></button>
        </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{
        'has-warning': false,
        'has-info': false
        }">
      <label for="Bezeichnung" class="d-none">Bez.: </label>
      <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Bezg</span>
        </div>
        <input id="Bezeichnung" class="form-control" placeholder="Bezeichnung"
               name="Bezeichnung"
               [(ngModel)]="inventarInput.Bezeichnung"
               #bezeichnung="ngModel"
        >
      </div>
    </div>

    <div class="form-group">
      <label for="Hersteller" class="d-none">Hersteller:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">HST</span>
        </div>
        <input
          id="Hersteller"
          name="Hersteller"
          placeholder="Hersteller"
          type="text"
          class="form-control"
          [(ngModel)]="inventarInput.Hersteller"
          [ngbTypeahead]="search"
        >
        <!--
          (selectItem)="onSelectHersteller($event)"
          [inputFormatter]="formatter"
          [resultFormatter]="formatter"
          (change)="onChangeHersteller($event)"
          (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)"
          #instance="ngbTypeahead"
        / -->
      </div>
    </div>

    <div class="form-group">
      <label for="Gruppe" class="d-none">Gruppe: </label>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">GRP</span>
        </div>
        <input id="Gruppe" class="form-control" placeholder="Gruppe"
               name="Gruppe"
               [(ngModel)]="inventarInput.Gruppe"
               [ngbTypeahead]="searchGruppen"
               (input)="onInput($event)"
        >
        <!--
               (change)="onChangeGruppe($event)"
               (selectItem)="onSelectGruppe($event)"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusGrp$.next($any($event).target.value)"
               (click)="clickGrp$.next($any($event).target.value)"
               #instanceGrp="ngbTypeahead"
        -->
      </div>
    </div>

    <div class="form-group">
      <label for="Kategorie" class="d-none">Kategorie: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">KTG</span>
        </div>
        <input id="Kategorie" class="form-control" placeholder="Kategorie"
               name="Kategorie"
               [(ngModel)]="inventarInput.Kategorie"
               (input)="onInput($event)"
        >
        <!--
               (change)="onChange($event)"
               (selectItem)="onSelectKategorie($event)"
               [ngbTypeahead]="searchKategorien"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusKtg$.next($any($event).target.value)"
               (click)="clickKtg$.next($any($event).target.value)"
               #instanceKtg="ngbTypeahead"
        -->
      </div>
    </div>

    <div class="form-group">
      <label for="typ" class="d-none">Artikel-Typ: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">TYP</span>
        </div>
        <input id="typ" class="form-control" placeholder="Artikel-Typ"
               name="typ"
               [(ngModel)]="inventarInput.Typ"
               [ngbTypeahead]="searchTypen"
               (input)="onInput($event)"
        >
        <!--
               (change)="onChange($event)"
               (selectItem)="onSelectTypen($event)"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusTyp$.next($any($event).target.value)"
               (click)="clickTyp$.next($any($event).target.value)"
               #instanceTyp="ngbTypeahead"
        -->
      </div>
    </div>

    <div class="form-group">
      <label for="Groesse" class="d-none">Abmessungen: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Größe</span>
        </div>
        <input id="Groesse" class="form-control" placeholder="Groesse"
               name="Groesse"
               [(ngModel)]="inventarInput.Groesse"
               [ngbTypeahead]="searchGroessen"
               (input)="onInput($event)"
        >
        <!--
               (change)="onChange($event)"
               (selectItem)="onSelectGroessen($event)"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusGrs$.next($any($event).target.value)"
               (click)="clickGrs$.next($any($event).target.value)"
               #instanceGrs="ngbTypeahead"
        -->
      </div>
    </div>

    <div class="form-group">
      <label for="Farbe" class="d-none">Farbe: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Farbe</span>
        </div>
        <input id="Farbe" class="form-control" placeholder="Farbe"
               name="Farbe"
               [(ngModel)]="inventarInput.Farbe"
               [ngbTypeahead]="searchFarben"
               (input)="onInput($event)"
               >
        <!--
               (change)="onChange($event)"
               (input)="onInput($event)"
               (selectItem)="onSelectFarben($event)"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusFa$.next($any($event).target.value)"
               (click)="clickFa$.next($any($event).target.value)"
               #instanceFa="ngbTypeahead"
        -->
      </div>
    </div>

    <div class="form-group">
      <label for="Farbe" class="d-none">Zustand: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Zustand</span>
        </div>
        <input id="Zustand" class="form-control" placeholder="Zustand"
               name="Zustand"
               [(ngModel)]="inventarInput.Zustand">
      </div>
    </div>

  </form>
</div>
<ngb-alert [type]="'danger'" [dismissible]="false" *ngFor="let vError of validationErrors">
  {{ vError }}
</ngb-alert>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="onSubmit($event)">Inventar aktualisieren</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <div *ngIf="formError" class="alert-danger"> {{formError}} </div>
  <div>
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="onPageChange(page)"></ngb-pagination>
  </div>
  <div class="row no-gutters">
    <div class="card col-sm-6" *ngFor="let item of listExistingArticlePage">
      <img *ngIf="item.img_id" class="card-img-top" src="..." alt="">
      <div class="card-body ">
        <h6 class="card-title">{{ item.Bezeichnung }}</h6>
        <div *ngIf="item.Hersteller"><small>Hst: {{ item.Hersteller }}</small></div>
        <div *ngIf="item.Gruppe"><small>Grp: {{ item.Gruppe }}</small></div>
        <div *ngIf="item.Typ"><small>Typ: {{ item.Typ }}</small></div>
        <div *ngIf="item.Kategorie"><small>Ktg: {{ item.Kategorie }}</small></div>
        <div *ngIf="item.Farbe || item.Groesse"><small>{{ item.Farbe }} {{ item.Groesse }}</small></div>
        <div *ngIf="item.inventar_count"><small>{{ item.inventar_count }}</small></div>
      </div>
      <div class="card-footer text-center">
        <button (click)="applyItemAsInput(item)" class="btn btn-sm btn-info">Als Vorlage übernehmen</button>
        <button (click)="applyItemAsArtikel(item)" class="btn btn-sm btn-primary">Artikel Übernehmen</button>
      </div>
    </div><!-- Close: div.card -->
  </div><!-- Close: div.row -->
</div>

<!-- button class="btn btn-lg btn-outline-primary" (click)="open(content)">Raum zuordnen</button -->

<hr>

<pre>{{closeResult}}</pre>
