textarea.NewFreshScan {
  background-color: #8bffbb;
  color: #b6121c;
}
textarea.NewFreshScan.CountDown-4 {
  background-color: #9effc4;
  color: #98121c;
}

textarea.NewFreshScan.CountDown-3 {
  background-color: #aaffc9;
  color: #7a111a;
}

textarea.NewFreshScan.CountDown-2 {
  background-color: #bcffcf;
  color: #5c1018;
}

textarea.NewFreshScan.CountDown-2 {
  background-color: #ccffda;
  color: #3e1119;
}

textarea.NewFreshScan.CountDown-1 {
  background-color: #d6ffe1;
  color: #200f0f;
}
input.bg-danger {
  color: #ffffff;
  font-weight: bold;
}

input.bg-danger::placeholder {
  color: #ffffff;
  font-weight: bold;
}
.input-group-text {
  min-width: 3.5rem;
}
