<p>settings works!</p>
<button class="btn btn-primary" [disabled]="buildBcLookup" (click)="dbClear()">Datenbank leeren</button>
<button class="btn btn-primary" [disabled]="buildBcLookup" (click)="reIndexBarcodeLookup()">reIndexBarcodeLookup</button>
<div>
  <div>Sound-Test</div>
  <button class="btn btn-success" (click)="playSuccess()">Sound Success</button>
  <button class="btn btn-danger" (click)="playError()">Sound Error</button>
</div>

<div class="btn-group btn-group-toggle" ngbRadioGroup (change)="changeManualBCInput($event)" name="radioBasic" [(ngModel)]="enableManualBCInput">
  Manuelle Barcode-Eingabe
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="true"> On
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="false"> Off
  </label>
</div>

<div class="row" *ngFor="let varItem of variableList">
  <div class="col-3">{{ varItem.name }}</div>
  <div class="col">{{ varItem.value | json }}</div>
</div>
