<div class="blobs-overlay" *ngIf="blobAlert && useOverlay === 1">
  <div class="blobs-container">
    <ng-container [ngSwitch]="blobAlert">
      <div class="blob red animate" *ngSwitchCase="'danger'"></div>
      <div class="blob green animate" *ngSwitchCase="'success'"></div>
    </ng-container>
  </div>
</div>
<div class="blobs-overlay" *ngIf="blobAlert && useOverlay === 2">
  <div class="blobs-container">
    <ng-container [ngSwitch]="blobAlert">
      <div class="blob red animate" *ngSwitchCase="'danger'"></div>
      <div class="blob green animate" *ngSwitchCase="'success'"></div>
    </ng-container>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Barcode-Index neu aufbauen</h5>
    <p class="card-text">
      Der Barcode-Index dient der schnelleren Auswertung von Barcode-Eingaben.
      Sollten Barcodes nicht gefunden werden, obwohl sie vorhanden sein sollten,
      nutzen sie diese Funktion, um den Index basierend auf Objektkatalog-, Inventar- und Raumdaten
      neu aufzubauen
    </p>
    <button class="btn btn-primary" [disabled]="buildBcLookup" (click)="reIndexBarcodeLookup()">reIndexBarcodeLookup</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Sound und visuelles Feedback testen</h5>
    <div class="card-text">
      Barcode-Scans werden mit akkustischen und visuellen Feedback quittiert.
      <h6>Erfolgreiche Scans:</h6>
      Grüne Welle und einer Piep-Ton

      <h6>Fehlerhafte Scan:</h6>
      Rote Welle und länger anhaltender Piep-Ton
    </div>
    <button class="btn btn-success" (click)="playSuccess()">Sound Success</button>
    <button class="btn btn-danger" (click)="playError()">Sound Error</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Manuelle Barcode-Simulation</h5>
    <div class="card-text">
      Die Barcode-Eingabe kann zu Testzwecken manuelle simuliert werden.
    </div>

    <div class="btn-group btn-group-toggle" ngbRadioGroup (change)="changeManualBCInput($event)" name="radioBasic" [(ngModel)]="enableManualBCInput">

      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="true"> On
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false"> Off
      </label>
    </div>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Export Sync-Log-Data</h5>
    <p class="card-text">
      Mit dieser Funktion werden alle geloggten Änderungen in der Tabelle clientChangeLog,
      die noch nicht übertragen wurden als Datei exportiert
      für den händischen Versant per Mail, whatsapp, etc.<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}
    </p>
    <button class="btn btn-danger" [disabled]="buildBcLookup" (click)="syncExport()">Sync exportieren</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Export Inventur</h5>
    <div class="card-text">
      Mit dieser Funktion werden alle aktuellen Inventurdaten exportiert.<br>
      Inventur: {{ currentInventurTitle }}<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}

      <div *ngIf="exportProcessing"><ngb-progressbar type="success"
                                                      [value]="exportCurrent"
                                                      [max]="exportTotal"
                                                      [striped]="!exportFinished"
                                                      [animated]="!exportFinished">{{exportCurrent}} von {{exportTotal}}</ngb-progressbar>
        <div>{{exportStatus}}</div>
      </div>
    </div>
    <button class="btn btn-danger" [disabled]="exportProcessing" (click)="inventurExport()">Inventur exportieren</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Browser(Handy)-Datenbank leeren</h5>
    <p class="card-text">
      Mit dieser Funktion werden 'alle' Datenbank-Inhalte des Browsers/Handy gelöscht.<br>
      Unsynchronisierte Änderungen gehen hierbei verloren!<br>
      Benutzen Sie diese Funktion nur wenn alle Daten bereits synchronisiert sind!<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}
    </p>
    <button class="btn btn-danger" [disabled]="buildBcLookup" (click)="dbClear()">Datenbank leeren</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Browser(Handy)-Datenbank löschen</h5>
    <p class="card-text">
      Mit dieser Funktion wird die Browser/Handy-Datenbank gelöscht.<br>
      Unsynchronisierte Änderungen gehen hierbei verloren!<br>
      Die Datenbank-Struktur wird nach einem Seiten-Reload neu aufgebaut.<br>
      Benutzen Sie diese Funktion nur wenn alle Daten bereits synchronisiert sind
      oder schwerwiegende Fehler aufgetreten sind.<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}
    </p>
    <button class="btn btn-danger" [disabled]="buildBcLookup" (click)="dbDelete()">Datenbank löschen</button>
  </div>
</div>
