<div class="blobs-overlay" *ngIf="blobAlert && useOverlay === 1">
  <div class="blobs-container">
    <ng-container [ngSwitch]="blobAlert">
      <div class="blob red animate" *ngSwitchCase="'danger'"></div>
      <div class="blob green animate" *ngSwitchCase="'success'"></div>
    </ng-container>
  </div>
</div>
<div class="blobs-overlay" *ngIf="blobAlert && useOverlay === 2">
  <div class="blobs-container">
    <ng-container [ngSwitch]="blobAlert">
      <div class="blob red animate" *ngSwitchCase="'danger'"></div>
      <div class="blob green animate" *ngSwitchCase="'success'"></div>
    </ng-container>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Barcode-Index neu aufbauen</h5>
    <p class="card-text">
      Der Barcode-Index dient der schnelleren Auswertung von Barcode-Eingaben.
      Sollten Barcodes nicht gefunden werden, obwohl sie vorhanden sein sollten,
      nutzen sie diese Funktion, um den Index basierend auf Objektkatalog-, Inventar- und Raumdaten
      neu aufzubauen
    </p>
    <button class="btn btn-primary" [disabled]="buildBcLookup" (click)="reIndexBarcodeLookup()">reIndexBarcodeLookup</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Sound und visuelles Feedback testen</h5>
    <div class="card-text">
      Barcode-Scans werden mit akkustischen und visuellen Feedback quittiert.
      <h6>Erfolgreiche Scans:</h6>
      Grüne Welle und einer Piep-Ton

      <h6>Fehlerhafte Scan:</h6>
      Rote Welle und länger anhaltender Piep-Ton
    </div>
    <button class="btn btn-success" (click)="playSuccess()">Sound Success</button>
    <button class="btn btn-danger" (click)="playError()">Sound Error</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Manuelle Barcode-Simulation</h5>
    <div class="card-text">
      Die Barcode-Eingabe kann zu Testzwecken manuelle simuliert werden.
    </div>

    <div class="btn-group btn-group-toggle" ngbRadioGroup (change)="changeManualBCInput($event)" name="radioBasic" [(ngModel)]="enableManualBCInput">

      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="true"> On
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="false"> Off
      </label>
    </div>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Max. Paketgröße für Datensynchronisierung</h5>
    <p class="card-text">
      Aktueller Wert: {{ maxSyncSizeReadable}} ({{ maxSyncSize }} Bytes)
    </p>

    <div class="form-group">
      <div class="row no-gutters input-group mb-1">
        <div class="col-auto input-group-prepend">
          <span class="input-group-text border-secondary">Max. Paketgröße</span>
        </div>
        <div ngbDropdown #syncMaxSize="ngbDropdown" class="col myDropdown">
          <button (click)="$event.preventDefault(); $event.stopPropagation(); syncMaxSize.isOpen() ? syncMaxSize.close() : syncMaxSize.open();"
                  class="col btn btn-outline-secondary" id="dropSyncSize" ngbDropdownAnchor>
            <ng-container *ngIf="maxSyncSizeReadable"><span>{{ maxSyncSizeReadable }}</span></ng-container>
          </button>

          <div ngbDropdownMenu aria-labelledby="dropSyncSize" class="border-secondary rounded-bottom">
            <button ngbDropdownItem *ngFor="let _size of maxSyncSizeOptions; let i = index"
                    (click)="$event.preventDefault(); $event.stopPropagation(); syncSizeChanged(i)"
                    [value]="_size.value">{{_size.title}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Export Sync-Log-Data</h5>
    <p class="card-text">
      Mit dieser Funktion werden alle geloggten Änderungen in der Tabelle clientChangeLog,
      die noch nicht übertragen wurden als Datei exportiert
      für den händischen Versand per Mail, whatsapp, etc.<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}
    </p>
    <button class="btn btn-danger" [disabled]="buildBcLookup" (click)="syncExport()">Sync exportieren</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Export Inventur</h5>
    <div class="card-text">
      Mit dieser Funktion werden alle aktuellen Inventurdaten exportiert.<br>
      Inventur: {{ currentInventurTitle }}<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}

      <div *ngIf="exportProcessing"><ngb-progressbar type="success"
                                                      [value]="exportCurrent"
                                                      [max]="exportTotal"
                                                      [striped]="!exportFinished"
                                                      [animated]="!exportFinished">{{exportCurrent}} von {{exportTotal}}</ngb-progressbar>
        <div>{{exportStatus}}</div>
      </div>
    </div>
    <button class="btn btn-danger" [disabled]="exportProcessing" (click)="inventurExport()">Inventur exportieren</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">App aktualisieren</h5>
    <p class="card-text">
      Mit dieser Funktion wird die Anwendung neu vom Server geladen.<br>
      Wenn eine neue Version vorliegt, wird diese übernommen.<br>
      Alle Daten bleiben dabei erhalten.
    </p>
    <button class="btn btn-danger" (click)="reloadApp()">App neu laden</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Browser(Handy)-Datenbank leeren</h5>
    <p class="card-text">
      Mit dieser Funktion werden 'alle' Datenbank-Inhalte des Browsers/Handy gelöscht.<br>
      Unsynchronisierte Änderungen gehen hierbei verloren!<br>
      Benutzen Sie diese Funktion nur wenn alle Daten bereits synchronisiert oder händisch exportiert wurden!<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}
    </p>
    <button class="btn btn-danger" [disabled]="buildBcLookup" (click)="dbClear()">Datenbank leeren</button>
  </div>
</div>

<div class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Browser(Handy)-Datenbank löschen</h5>
    <p class="card-text">
      Mit dieser Funktion wird die Browser/Handy-Datenbank gelöscht.<br>
      Unsynchronisierte Änderungen gehen hierbei verloren!<br>
      Die Datenbank-Struktur wird nach einem Seiten-Reload neu aufgebaut.<br>
      Benutzen Sie diese Funktion nur wenn alle Daten bereits synchronisiert sind
      oder schwerwiegende Fehler aufgetreten sind und die Daten händisch exportiert werden konnten.<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}
    </p>
    <button class="btn btn-danger" [disabled]="buildBcLookup" (click)="dbDelete()">Datenbank löschen</button>
  </div>
</div>



<div *ngIf="false" class="card mt-1">
  <div class="card-body">
    <h5 class="card-title">Dummie Raum und Raumbilder einfügen</h5>
    <p class="card-text">
      Mit dieser Funktion werden werden fiktive 500 Test-Räume mit ingesamt 500 Raum-Bildern angelegt.<br>
      Als Raum-Name, -Bezeichnung und -Etage wird TEST vorangestellt.<br>
      Die Test-Raumbilder werden nur den angelegten Testräumen zugeordnet und erhalten als Name
      und Beschreibung ebenfalls das Prefix TEST.<br>
      Datenbank: {{ dbName }} Version {{ dbVersion }}
    </p>
    <button class="btn btn-danger" [disabled]="buildBcLookup" (click)="createTestData()">Testdaten generieren</button>
  </div>
</div>
