<div class="modal-header p-0" style="padding:0.1rem">
  <div class="btn-group row no-gutters w-100">
    <button class="btn btn-primary col-10 text-left pl-3" (click)="showSearchForm($event)">
      <fa-icon [icon]="faSignOutAlt" class="mr-3"></fa-icon> <fa-icon [icon]="faSearch"></fa-icon> Artikel suchen
    </button>
    <button type="button" class="btn btn-danger col-2" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ formTitle }}</h4>
</div>
<div class="modal-body artikel-form" [ngClass]="{ 'artikel-form-kunst': formType === formTypeKunst }">
  <form #myForm="ngForm">
    <div *ngIf="formLabels.Hersteller.isVisible" class="form-group">
      <label for="Hersteller" class="d-none">{{ formLabels.Hersteller.label }}:</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ formLabels.Hersteller.labelShort }}</span>
        </div>
      <input
        id="Hersteller"
        name="Hersteller"
        [placeholder]="formLabels.Hersteller.placeholder"
        type="text"
        class="form-control"
        [(ngModel)]="artikelDaten.Hersteller"
        (selectItem)="onSelectHersteller($event)"
        [ngbTypeahead]="search"
        [inputFormatter]="formatter"
        [resultFormatter]="formatter"
        (change)="onChangeHersteller($event)"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
      />
      </div>
    </div>

    <div *ngIf="formLabels.Gruppe.isVisible" class="form-group">
      <label for="typ" class="d-none">{{ formLabels.Gruppe.label }}: </label>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ formLabels.Gruppe.labelShort }}</span>
        </div>
        <input id="Gruppe" class="form-control"
               [placeholder]="formLabels.Gruppe.placeholder"
               name="Gruppe"
               [(ngModel)]="artikelDaten.Gruppe"
               (change)="onChangeGruppe($event)"
               (input)="onInput($event)"
               (selectItem)="onSelectGruppe($event)"
               [ngbTypeahead]="searchGruppen"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusGrp$.next($any($event).target.value)"
               (click)="clickGrp$.next($any($event).target.value)"
               #instanceGrp="ngbTypeahead"
        >
      </div>
    </div>

    <div *ngIf="formLabels.Kategorie.isVisible" class="form-group">
      <label for="typ" class="d-none">{{ formLabels.Kategorie.label }}: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ formLabels.Kategorie.labelShort }}</span>
        </div>
        <input id="Kategorie" class="form-control"
               [placeholder]="formLabels.Kategorie.placeholder"
               name="Kategorie"
               [(ngModel)]="artikelDaten.Kategorie"
               (change)="onChange($event)"
               (input)="onInput($event)"
               (selectItem)="onSelectKategorie($event)"
               [ngbTypeahead]="searchKategorien"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusKtg$.next($any($event).target.value)"
               (click)="clickKtg$.next($any($event).target.value)"
               #instanceKtg="ngbTypeahead"
        >
      </div>
    </div>

    <div *ngIf="formLabels.Bezeichnung.isVisible" class="form-group" [ngClass]="{
        'has-error': bezeichnung.dirty && (bezeichnung.invalid || numBezeichnungExists === 1),
        'has-info': bezeichnung.dirty && numBezeichnungExists === -1
        }">
      <label for="Bezeichnung" class="d-none">{{ formLabels.Bezeichnung.label }}: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ formLabels.Bezeichnung.labelShort }}</span>
        </div>
        <input id="Bezeichnung" class="form-control"
               [placeholder]="formLabels.Bezeichnung.placeholder"
               name="Bezeichnung"
               [(ngModel)]="artikelDaten.Bezeichnung"
               #bezeichnung="ngModel"
               (change)="checkIfABezeichnungExistsGlobal()"
               (input)="onInput($event)"
               required
        >
      </div>
      <div *ngIf="bezeichnung.valid">
        <div *ngIf="numBezeichnungExists === -1" class="help-block">Artikelangabe wird geprüft {{ numBezeichnungExists }}</div>
        <div *ngIf="numBezeichnungExists > 0" class="help-block">Artikel existiert bereits {{ numBezeichnungExists }}</div>
      </div>
    </div>

    <div *ngIf="formLabels.Typ.isVisible" class="form-group">
      <label for="typ" class="d-none">{{ formLabels.Typ.label }}: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ formLabels.Typ.labelShort }}</span>
        </div>
        <input id="typ" class="form-control"
               [placeholder]="formLabels.Typ.placeholder"
               name="typ"
               [(ngModel)]="artikelDaten.Typ"
               (change)="onChange($event)"
               (input)="onInput($event)"
               (selectItem)="onSelectTypen($event)"
               [ngbTypeahead]="searchTypen"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusTyp$.next($any($event).target.value)"
               (click)="clickTyp$.next($any($event).target.value)"
               #instanceTyp="ngbTypeahead"
        >
      </div>
    </div>

    <div *ngIf="formLabels.Groesse.isVisible" class="form-group">
      <label for="Groesse" class="d-none">{{ formLabels.Groesse.label }}: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ formLabels.Groesse.labelShort }}</span>
        </div>
        <input id="Groesse" class="form-control"
               [placeholder]="formLabels.Groesse.placeholder"
               name="Groesse"
               [(ngModel)]="artikelDaten.Groesse"
               (change)="onChange($event)"
               (input)="onInput($event)"
               (selectItem)="onSelectGroessen($event)"
               [ngbTypeahead]="searchGroessen"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusGrs$.next($any($event).target.value)"
               (click)="clickGrs$.next($any($event).target.value)"
               #instanceGrs="ngbTypeahead"
        >
      </div>
    </div>

    <div *ngIf="formLabels.Farbe.isVisible" class="form-group">
      <label for="Farbe" class="d-none">{{ formLabels.Farbe.label }}: </label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ formLabels.Farbe.labelShort }}</span>
        </div>
        <input id="Farbe" class="form-control"
               [placeholder]="formLabels.Farbe.placeholder"
               name="Farbe"
               [(ngModel)]="artikelDaten.Farbe"
               (change)="onChange($event)"
               (input)="onInput($event)"
               (selectItem)="onSelectFarben($event)"
               [ngbTypeahead]="searchFarben"
               [inputFormatter]="formatter"
               [resultFormatter]="formatter"
               (focus)="focusFa$.next($any($event).target.value)"
               (click)="clickFa$.next($any($event).target.value)"
               #instanceFa="ngbTypeahead"
        >
      </div>
    </div>
  </form>
  <pre>{{closeResult}}</pre>
  <p class="d-none">select-create-artikel works!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="onSubmit($event)" [disabled]="!formIsValid || !myForm.form.valid">Artikel anlegen</button>
  <div *ngIf="formError" class="alert-danger"> {{formError}} </div>
  <div>
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="maxSize" [pageSize]="pageSize" (pageChange)="onPageChange(page)"></ngb-pagination>
  </div>
  <div class="row no-gutters">
    <div class="card col-sm-6" *ngFor="let item of listExistingArticlePage">
      <img *ngIf="item.img_id" class="card-img-top" src="..." alt="">
      <div class="card-body ">
        <h6 class="card-title">{{ item.Bezeichnung }}</h6>
        <div *ngIf="item.Hersteller"><small>Hst: {{ item.Hersteller }}</small></div>
        <div *ngIf="item.Gruppe"><small>Grp: {{ item.Gruppe }}</small></div>
        <div *ngIf="item.Typ"><small>Typ: {{ item.Typ }}</small></div>
        <div *ngIf="item.Kategorie"><small>Ktg: {{ item.Kategorie }}</small></div>
        <div *ngIf="item.Farbe || item.Groesse"><small>{{ item.Farbe }} {{ item.Groesse }}</small></div>
        <div *ngIf="item.inventar_count"><small>{{ item.inventar_count }}</small></div>
      </div>
      <div class="card-footer text-center">
        <button (click)="applyItemAsInput(item)" class="btn btn-sm btn-info">Als Vorlage übernehmen</button>
        <button (click)="applyItemAsArtikel(item)" class="btn btn-sm btn-primary">Artikel Übernehmen</button>
      </div>
    </div><!-- Close: div.card -->
  </div><!-- Close: div.row -->
</div>
