<div class="modal-header p-0" style="padding:0.1rem">
  <div class="btn-group row no-gutters w-100">
    <button class="btn btn-primary col-10 text-left pl-3" (click)="showRaumRestForm($event)">
      <fa-icon [icon]="faSignOutAlt" class="mr-3"></fa-icon> Zeige fehlendes Inventar
    </button>
    <button type="button" class="btn btn-danger col-2" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-header">
  <h4 class="modal-title">Bereits inventarisiert</h4>
</div>
<div class="modal-body">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="Bezeichnung">Bezeichnung</th>
      <th scope="col" sortable="Typ">Typ</th>
      <th scope="col" sortable="Menge">Menge</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of inventarListDone">
      <th scope="row">{{ item.mcid }}</th>
      <td>{{ item.Bezeichnung }}</td>
      <td>{{ item.Typ }}</td>
      <td>{{ item.Menge }}</td>
    </tr>
    </tbody>
  </table>
</div>
