<div class="modal-header modal-header-with-links p-0" style="padding:0.1rem">
  <div class="btn-group">
  <button class="btn btn-link pl-3" (click)="showCreateForm($event)">
    <fa-icon [icon]="faPlus"></fa-icon> Neuen Artikel anlegen
  </button>
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
</div>
<div class="modal-header">
  <h4 class="modal-title">Artikelauswahl</h4>
</div>
<div class="modal-body">
  <label for="typeahead-prevent-manual-entry">Artikel suchen:</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></span>
    </div>
    <input id="typeahead-prevent-manual-entry" #searchArtikelInput type="text" class="form-control"
           (selectItem)="onSelectItem($event)"
           [(ngModel)]="model"
           [ngbTypeahead]="search"
           [inputFormatter]="formatter"
           [resultFormatter]="formatter"
           [editable]='false' />
  </div>
  <hr>
  <pre class="d-none">Model: {{ model | json }}</pre>

  <p class="d-none">select-search-artikel works! {{ clientId }}</p>
</div>
