<div class="modal-header">
  <h6 class="modal-title">Barcode scannen!</h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <select (change)="onDeviceSelectChange($event.target.value)">
    <option value="" [selected]="!currentDevice">No Device Selected</option>
    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
            [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
  </select>
  <div class="scanner-view-port">
    <zxing-scanner
      #scanner
      [style.height]="'5rem'"

      [torch]="torchEnabled"
      [(device)]="currentDevice"
      (scanSuccess)="onCodeResult($event)"
      [formats]="formatsEnabled"
      [tryHarder]="tryHarder"
      (permissionResponse)="onHasPermission($event)"
      (camerasFound)="onCamerasFound($event)"
      (torchCompatible)="onTorchCompatible($event)">
    </zxing-scanner>
    <div *ngIf="currentDevice" id="ScannerFocusRedLine"></div>
  </div>

  <div class="input-group mb-3" *ngIf="allowBarcodeInput">
    <input type="text" class="form-control" #bcInputTest
           placeholder="Barcode" aria-label="Barcode" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="button" id="button-addon2"
              (click)="bctest(bcInputTest.value)"><fa-icon [icon]="faCheck"></fa-icon></button>
    </div>
  </div>

  <section *ngIf="false" class="results" [hidden]="!scannedBarcode">
    <div>
      <small>Result</small>
      <span>{{ scannedUnchangedPart }}</span><span id="barcodeChangedPart" #barcodeChangedPart>{{ scannedChangedPart }}</span><br>
    </div>
  </section>

  <div class="card" *ngIf="scanResultCurrent">
    <div class="card-body">
      <h5 class="card-title">{{ scanResultCurrent.barcode }}</h5>

      <div *ngIf="scanResultCurrent.image && scanResultCurrent.image.data_url" class="float-right">
        <img [src]="scanResultCurrent.image.data_url" style="max-width:200%;max-height:150px">
      </div>

      <p class="card-text">
        <span class="font-weight-bold">{{ scanResultCurrent.typToString }}:</span> {{ scanResultCurrent.infos }}
      </p>

    </div>
    <div class="btn-group w-100">
      <button class="btn btn-success btn-sm col-6" (click)="applyResult()"><fa-icon [icon]="faCheck"></fa-icon></button>
      <button class="col-6 btn btn-danger" ngbButton (click)="clearResult()"><fa-icon [icon]="faRemove"></fa-icon></button>
    </div>

  </div>

  <div *ngIf="scanResultHistory.length > 0">
    <hr class="mt-3">
    <div class="w-100 text-right">
      <button class="btn btn-secondary btn-sm" (click)="clearHistory()">clear history</button>
    </div>

    <div *ngFor="let item of scanResultHistory">
      <div class="card mt-2">
        <div class="card-body" style="padding:.5rem">
          <h5 class="card-title">{{ item.barcode }}</h5>

          <div *ngIf="item.image && item.image.data_url" class="float-right">
            <img [src]="item.image.data_url" style="max-width:100%;max-height:50px">
          </div>

          <p class="card-text">
            <span class="font-weight-bold">{{ item.typToString }}:</span> {{ item.infos }}
          </p>

        </div>

        <div class="btn-group w-100">
          <button class="btn btn-success btn-sm col-6" (click)="applyHistoryResult(item)"><fa-icon [icon]="faCheck"></fa-icon></button>
          <button class="btn btn-danger btn-sm col-6" (click)="removeResult(item)"><fa-icon [icon]="faRemove"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
