<label class="mb-0">
  <span class="d-none d-md-inline">{{title}}: </span>
  <span class="d-inline d-md-none">{{short}}: </span>
  {{totalText}}
</label>
<div>

  <div class="progress progress-elemente" (click)="onClickRest($event)"  [ngClass]="{'bg-danger' : total > 0}">
    <div class="progress-bar bg-success" (click)="onClickBarDone($event)"  [ngClass]="type" role="progressbar" [style.width]="progressAmount + '%'">
    </div>
    <span class="progress-text">{{donePercentText}}</span>
  </div>

  <div class="row">
    <div class="col-6 text-success">

      <button type="button" (click)="onClickDone($event)" class="btn btn-sm btn-light btn-sx text-success">
        <span class="d-none d-md-inline">
        Erledigt </span>{{doneAmountText}}
      </button>

    </div>
    <div class="col-6 text-danger text-right">

      <button type="button" (click)="onClickRest($event)" class="btn btn-sm btn-light btn-sx text-danger">
        <span class="d-none d-md-inline">
        Rest </span>{{restAmountText}}
      </button>

    </div>
  </div>

</div>

