<div class="blobs-overlay" *ngIf="blobAlert && useOverlay === 1">
  <div class="blobs-container">
    <ng-container [ngSwitch]="blobAlert">
      <div class="blob red animate" *ngSwitchCase="'danger'"></div>
      <div class="blob green animate" *ngSwitchCase="'success'"></div>
    </ng-container>
  </div>
</div>
<div class="blobs-overlay" *ngIf="blobAlert && useOverlay === 2">
  <div class="blobs-container">
    <ng-container [ngSwitch]="blobAlert">
      <div class="blob red animate" *ngSwitchCase="'danger'"></div>
      <div class="blob green animate" *ngSwitchCase="'success'"></div>
    </ng-container>
  </div>
</div>

<div class="row no-gutters mb-1">
  <div class="form-group col-4">
    <label for="kunde" class="mb-0">Mandant</label>
    <input id="kunde" class="form-control" [readOnly]="true" [attr.value]="kundeName">
  </div>
  <div class="form-group col-4 px-1">
    <label for="adresse" class="mb-0">Adresse</label>
    <input id="adresse" class="form-control" [readOnly]="true" [attr.value]="adresse">
  </div>
  <div class="form-group col-4">
    <label for="raum" class="mb-0">Raum</label>
    <input id="raum" [ngClass]="{ 'bg-danger': !raum }" class="form-control" [readOnly]="true" [attr.value]="raumNr">
  </div>
</div>

<div class="row mb-4">
  <div class="col-6">
    <app-progressbar [shortTitle]="'Gesamt'" [title]="'Fortschrittsanzeige gesamt'"
                     [sendDoneClick]="true"
                     (clickedDone)="showGesamtDone()"
                     [sendRestClick]="true"
                     (clickedRest)="showGesamtRest()"
                     [value]="jobProgress.done" [total]="jobProgress.total"></app-progressbar>
  </div>
  <div class="col-6">
    <app-progressbar [shortTitle]="'Raum'"  [title]="'Fortschrittsanzeige Raum'"
                     [sendDoneClick]="true"
                     (clickedDone)="showRaumDone()"
                     [sendRestClick]="true"
                     (clickedRest)="showRaumRest()"
                     [value]="raumProgress.done" [total]="raumProgress.total"></app-progressbar>
  </div>
</div>

<div class="row mt-4">
  <label for="raumCode" class="col-4"><strong>Raumdaten</strong></label>

  <div class="col-8 text-right">
    <div #invDrop="ngbDropdown" ngbDropdown style="display: inline-block">
      <button [ngClass]="{
        'btn-outline-success': jobLockStatus === 2,
        'btn-outline-info': jobLockStatus === 1,
        'btn-outline-secondary': jobLockStatus === 0
        }"
              ngbDropdownToggle
              id="dropdownLockStatus"
              class="btn btn-sm dropdown-toggle"
              type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> Inventur ({{ jobLockStatus }})
        <ng-container [ngSwitch]="jobLockStatus">
          <fa-icon *ngSwitchCase="2" [icon]="faLock"></fa-icon>
          <fa-icon *ngSwitchCase="1" [icon]="faUnlockAlt"></fa-icon>
          <fa-icon *ngSwitchDefault [icon]="faLock"></fa-icon>
        </ng-container>
      </button>
      <div class="dropdown-menu dropdown-menu-right" [style.right]="0" ngbDropdownMenu aria-labelledby="dropdownLockStatus">
        <button ngbDropdownItem class="dropdown-item"
                (click)="setJobLockStatusClosed()"><fa-icon [attr.class]="'text-danger'" [icon]="faLock"></fa-icon>
          Inventur schließen
        </button>
        <button ngbDropdownItem class="dropdown-item"
                (click)="setJobLockStatusOpened()"><fa-icon [attr.class]="'text-success'" [icon]="faUnlockAlt"></fa-icon>
          Inventur in Arbeit
        </button>
      </div>
    </div>

    <div #myDrop="ngbDropdown" ngbDropdown style="display: inline-block">
      <button [ngClass]="{
        'btn-outline-success': raumEditStatus === 2,
        'btn-outline-info': raumEditStatus === 1,
        'btn-outline-secondary': raumEditStatus === 0
        }"
              ngbDropdownToggle
              id="dropdownRaumStatus"
              class="btn btn-sm dropdown-toggle"
              type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> Raum
        <ng-container [ngSwitch]="raumEditStatus">
          <fa-icon *ngSwitchCase="2" [icon]="faCheck"></fa-icon>
          <fa-icon *ngSwitchCase="1" [icon]="faDoorOpen"></fa-icon>
          <fa-icon *ngSwitchDefault [icon]="faDoorClosed"></fa-icon>
        </ng-container>
      </button>
      <div class="dropdown-menu dropdown-menu-right" [style.width]="'200px'" ngbDropdownMenu aria-labelledby="dropdownRaumStatus">
        <button ngbDropdownItem class="dropdown-item"
                (click)="setRaumEditStatusClosed()"><fa-icon [attr.class]="'text-success'" [icon]="faCheck"></fa-icon>
          Fertig
        </button>
        <button ngbDropdownItem class="dropdown-item"
                (click)="setRaumEditStatusStarted()"><fa-icon [attr.class]="'text-info'" [icon]="faDoorOpen"></fa-icon>
          In Arbeit
        </button>
        <button *ngIf="raumProgress.done === 0" ngbDropdownItem class="dropdown-item"
                (click)="setRaumEditStatusUntouched()"><fa-icon [attr.class]="'text-secondary'" [icon]="faDoorClosed"></fa-icon>
          Noch nicht begonnen
        </button>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text">BCode</span>
    </div>
    <input id="raumCode" readonly #raumBarcode type="text"
           class="form-control" [value]="formInventar.RaumBarcode" (input)="onRaumBarcodeInput( $event )" placeholder="Raum-Barcode" aria-label="Raumcode">
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="button" (click)="openScanner(raumBarcode)"><fa-icon [icon]="faBarcode"></fa-icon></button>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text">Nr</span>
    </div>
    <input id="raumNr" readonly type="text" [value]="formInventar.Raum" class="form-control" placeholder="Raumnr" aria-label="Raumnummer">
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="button" (click)="openSelectSearchRaum()">
        <fa-icon [icon]="faBookReader"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col input-group mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text">Bez.</span>
    </div>
    <input  id="raumBez" readonly type="text" [value]="formInventar.Raumbezeichnung"
            placeholder="Raumbezeichnung" class="form-control">
    <div class="input-group-append">
      <button class="btn btn-outline-success" [disabled]="!formInventar.ruuid" type="button" (click)="openEditRaum()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col input-group mb-1">
    <div class="btn-group input-group" role="group" aria-label="First group">
      <div class="input-group-prepend">
        <span class="input-group-text">Bild</span>
      </div>
      <div class="input-group-append">
        <button type="button" class="btn btn-success" (click)="openCreateRaumImage()"><fa-icon [icon]="faCamera"></fa-icon>
          <span class="d-none d-md-inline"> anlegen </span>
        </button>
        <div *ngIf="raumBilder.length > 0" #raumBilderDrop="ngbDropdown" class="btn btn-light" ngbDropdown style="display: inline-block">
          <button
            ngbDropdownToggle
            id="dropdownRaumbilder"
            class="btn btn-sm dropdown-toggle"
            type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> {{ raumBilder.length }} Fotos
          </button>
          <div class="dropdown-menu dropdown-menu-right" [style.width]="'200px'" ngbDropdownMenu aria-labelledby="dropdownRaumbilder">
            <button *ngFor="let img of raumBilder; let idx = index"
                    (click)="openRaumbild(idx)"
                    class="dropdown-item" ngbDropdownItem>{{ img.name }}</button>
          </div>
        </div>

        <div *ngIf="raumPlaene.length > 0" #raumPlaeneDrop="ngbDropdown" class="btn btn-light"
             ngbDropdown
             style="display: inline-block">
          <button
            ngbDropdownToggle
            id="dropdownRaumplaene"
            class="btn btn-sm dropdown-toggle"
            type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> {{ raumPlaene.length }} Pläne
          </button>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownRaumplaene">
            <button *ngFor="let img of raumPlaene; let idx = index"
                    (click)="openRaumplan(idx)"
                    class="dropdown-item" ngbDropdownItem>{{ img.name }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <label for="raumCode" class="col"><strong>Inventar-Daten</strong></label>
</div>
<ng-container *ngIf="raum; else MissingRaum">
  <div class="form-group row">
      <div class="col input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">BCode</span>
        </div>
        <input id="elmBarcode" class="form-control" type="text" aria-label="Barcode"
               required #invBarcode readonly
               [ngClass]="{'bg-danger': waitingForNewInventarBarcode || waitingForInventarData }"
               [attr.value]="formInventar.Barcode"
               [placeholder]="!waitingForNewInventarBarcode ? 'Inventar-Barcode ...' : 'Warte auf Inventar-Barcode ...'">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" (click)="openScanner(invBarcode)">
            <fa-icon [icon]="faBarcode"></fa-icon>
          </button>
        </div>
      </div>
  </div>
  <ngb-alert *ngIf="waitingForInventarData" type="danger" (close)="clearFormInventar()">
    Warte auf Artikelzuweisung für neuen Inventar-Barcode: <b>{{ formInventar.Barcode }}</b><br>
    <i>Sollte der Barcode bekannt sein, können Sie die Funktion reIndexBarcodeLookup in den Einstellungen nutzen!</i>
  </ngb-alert>
  <ngb-alert *ngIf="waitingForNewInventarBarcode" type="danger">
    Warte auf neuen Inventar-Barcode für {{ formInventar.Bezeichnung }}
  </ngb-alert>

  <div class="form-group row">
      <div class="col input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">Bez.</span>
        </div>
        <input id="elmArtBez" readonly type="text" [attr.value]="formInventar.Bezeichnung" class="form-control" placeholder="Artikelbezeichnung" aria-label="Artikelbezeichnung">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" (click)="openSelectCreateArtikel()">
            <fa-icon [icon]="faBookReader"></fa-icon>
          </button>
        </div>
      </div>
  </div>

  <div class="form-group row">
    <div class="col input-group mb-1">
      <div class="input-group-prepend">
        <span class="input-group-text">Typ</span>
      </div>
      <input  id="elmArtTyp" type="text" [attr.value]="formInventar.Typ" class="form-control">
      <div class="input-group-append">
        <button class="btn btn-outline-success" [disabled]="!formInventar.uuid" type="button" (click)="openEditInventar()">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <!-- label for="elmArtTyp" class="col-2 col-sm-2 col-md-2 col-lg-2 d-none">Bild</label -->
    <div class="col mb-1">

      <div class="btn-toolbar justify-content-between w-100" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group input-group" role="group" aria-label="First group">
          <div class="input-group-prepend">
            <span class="input-group-text">Bild</span>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-info"
                    *ngIf="artikelImageExists"
                    (click)="openShowArtikelImage()"><fa-icon [icon]="faEye"></fa-icon>
              <span class="d-none d-md-inline"> anzeigen </span>
            </button>
            <button type="button" class="btn btn-success"
                    *ngIf="artikelImageExists"
                    [disabled]="!formInventar.gcuuid" (click)="openEditArtikelImage()"><fa-icon [icon]="faEdit"></fa-icon>
              <span class="d-none d-md-inline"> bearbeiten </span>
            </button>
            <button type="button" class="btn btn-success"
                    *ngIf="!artikelImageExists"
                    [disabled]="!formInventar.gcuuid" (click)="openCreateArtikelImage()"><fa-icon [icon]="faCamera"></fa-icon>
              <span class="d-none d-md-inline"> anlegen </span>
            </button>
          </div>
        </div>

        <div class="btn-group input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon2">Kunst</div>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-dark" (click)="createKunstwerk()"><fa-icon [icon]="faPlus"></fa-icon>
              <span class="d-none d-md-inline"> anlegen </span></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</ng-container>
<ng-template #MissingRaum>
  <ngb-alert [type]="'danger'" [dismissible]="false">
    Bitte wählen Sie einen Raum aus!
  </ngb-alert>
</ng-template>

<div id="formBottomDivider" class="row no-gutters mb-0 border-bottom">
  <div id="inventurTitel" class="col">
    {{ inventur.Titel }}
  </div>
</div>

<div [hidden]="!manualBCInputEnabled">
  <h5>Barcode-Scanning Test</h5>
  <div class="row">
    <div class="col">
      <h6>Scanner Simulator</h6>
      <textarea class="scanner-detect-ignore" #inputSimulateBarcode></textarea><br>
      <button (click)="simulateScanner()">Barcode senden</button><br>
    </div>
    <div class="col">
      <app-scannerdetection (scanned)="handleScanData($event)" [config]="scanDetectorConfig">
        <h6>Scan-Detector Barcode</h6>
        <textarea #input2 [ngClass]="lastScanDetectClass"></textarea><br>
        (Zeit: {{ lastScanDetectTime | date:'hh:mm:ss' }})
      </app-scannerdetection>
    </div>
    <div class="d-none">{{ formInventar | json }}</div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea style="height:90vh;width:90vw" class="bcRawInput" #rawInputBarcodes></textarea><br>
    </div>
  </div>
</div>

<audio *ngIf="beepSuccessSrc" id="beepSuccess" [src]="beepSuccessSrc" autoPlay="autoplay" [muted]="'muted'"></audio>
<audio *ngIf="beepErrorSrc" id="beepError" [src]="beepErrorSrc" autoPlay="autoplay" [muted]="'muted'"></audio>
