<app-ngbheader [isLoginPage]="isLoginPage"></app-ngbheader>
<div class="container app-content">
  <div class="row no-gutters mt-2 app-content-inner-box">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer *ngIf="!isLoginPage" class="card small mt-2 app-footer">
  <div class="card-footer text-center">
    <app-status-check></app-status-check>
    <button *ngIf="false && !heartBeatState" (click)="setHeartBeatState(true)">Enable HeartBeat Check</button>
    <button *ngIf="false && heartBeatState" (click)="setHeartBeatState(false)">Disable HeartBeat Check</button>
    <button *ngIf="deferredInstallPrompt" (click)="installApp()">Install app</button>
  </div>
</footer>
<div #addScripts></div>

