<app-ngbheader></app-ngbheader>
<div class="container">
  <div class="row mt-2">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-status-check></app-status-check>
  <button *ngIf="!heartBeatState" (click)="setHeartBeatState(true)">Enable HeartBeat Check</button>
  <button *ngIf="heartBeatState" (click)="setHeartBeatState(false)">Disable HeartBeat Check</button>
  <button *ngIf="deferredInstallPrompt" (click)="installApp()">Install app</button>
</div>
<div #addScripts></div>

