
h1 {
    color: #fff;
}

div.c1 {
    div.c1-1 {
        color: green;
    }
}

div.c1-1 {
    color: red;
}
.body-bg-login {
  background: linear-gradient(to right bottom, #1cc7d0 ,#013ca6, #013ca6,#1cc7d0);
}
