
  <span class="badge mr-2" [ngClass]="{
        'badge-success':currentState?.hasNetworkConnection,
        'badge-danger':!currentState?.hasNetworkConnection
        }">
      {{ currentState?.hasNetworkConnection ? 'Online' : 'Offline' }}
  </span>
  <span class="badge mr-2" [ngClass]="{
        'badge-success': currentState?.hasServerAccess,
        'badge-danger': !currentState?.hasServerAccess
        }">
      Backend: {{ currentState?.hasServerAccess ? 'ON' : 'OFF' }}
  </span>
  <span class="badge mr-2" [ngClass]="{
        'badge-success': currentState?.hasValidSession,
        'badge-danger': !currentState?.hasValidSession
        }">
      {{ currentState?.hasValidSession ? 'Eingeloggt' : 'Login abgelaufen' }}
  </span>
  <ng-container *ngIf="numUnsynced > -1">
    <span class="badge mr-2" [ngClass]="{
        'badge-success':numUnsynced===0,
        'badge-danger':numUnsynced!==0
        }">
      Unsynced:  {{ numUnsynced }}
    </span>
  </ng-container>
    <span class="badge badge-info">
      v{{currentApplicationVersion}}
    </span>
