<p>test works!</p>

<h1>hi</h1>

<button class="btn btn-primary" [ngClass]="{'btn-secondary': isToggled}" (click)="onToggle()">Toggle</button>

<div class="c1" *ngIf="isToggled">
  <div class="c1-1" (click)="onClick_c1_1_1()">Element in div.c1>div.c1-1</div>
</div>
<div class="c1" *ngIf="isToggled">
  <div class="c1-2" (click)="onClick_c1_1_2()">Element in div.c1>div.c1-2</div>
</div>

<div class="c1-1" *ngIf="!isToggled" (click)="onClick_c1_1()">
  Element in div.c1-1 {{title}}
</div>

<input type="text" [(ngModel)]="title">
<p>{{ title }}</p>
<button class="btn btn-primary"
        [ngStyle]="{textDecoration: titleEndWithAnA ? 'none' : 'underline'}"
        (click)="onAddAnA()">Add an a</button>
