.progress.progress-elemente {
  height:calc(1.5em + 0.75rem + 2px);
  position: relative;
}

.progress-text{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  text-align:center;
  color:#fff;
  line-height: calc(1.5em + 0.75rem + 2px);
}
