<div class="modal-header modal-header-with-links p-0" style="padding:0.1rem">
  <div class="btn-group">
    <button class="btn btn-link pl-3" (click)="showRaumRestForm($event)">
      <fa-icon [icon]="faExchangeAlt"></fa-icon> Zeige fehlendes Inventar
    </button>
    <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-header">
  <h4 class="modal-title">Bereits inventarisiert</h4>
</div>
<div class="modal-body">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="Bezeichnung">Bezeichnung</th>
      <th scope="col" sortable="Typ">Typ</th>
      <th scope="col" sortable="Menge">Menge</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of inventarListDone; let rowNr = index">
      <th scope="row">{{ rowNr + 1 }}</th>
      <td>{{ item.Bezeichnung }}</td>
      <td>{{ item.Typ }}</td>
      <td>{{ item.Menge }}</td>
    </tr>
    </tbody>
  </table>
</div>
