<nav class="navbar navbar-expand-md navbar-light xxx-bg-light app-navbar">
  <span class="navbar-brand">
    <img class="logo" src="/assets/mertens-logo-221x45.png">
  </span>
  <button class="navbar-toggler" type="button"
          aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
          aria-label="Toggle navigation" (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul *ngIf="!isLoginPage" class="navbar-nav ml-auto">

      <li *ngIf="false" routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/auth">
          <fa-icon [icon]="faUser"></fa-icon>
          <span class="d-ynone d-md-inline">Login</span></a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/select-inventory">
          <fa-icon [icon]="faHome"></fa-icon>
          <span class="d-ynone d-md-inline"> Select </span></a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" (click)="continueLastInventory()">
          <fa-icon [icon]="faPlayCircle"></fa-icon>
          <span class="d-ynone d-md-inline"> Inventarisieren </span></a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/sync">
          <fa-icon [icon]="faSync"></fa-icon>
          <span class="d-ynone d-md-inline"> Sync </span></a>
      </li>

      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/settings">
          <fa-icon [icon]="faCog"></fa-icon>
          <span class="d-none d-md-inline"> Settings </span>
        </a>
      </li>


      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/auth/logout">
          <fa-icon [icon]="faPowerOff"></fa-icon>
          <span class="d-none d-md-inline"> Logout </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
